body {
    background-image: url("~/Content/images/bird_background2.jpg");
}
.title {
    padding: 7px;
    text-align: center;
    background-color: rgb(0, 46, 46);
    font-family: fantasy;
    color:white;
  }