@{
    ViewBag.Title = "About ";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @section styles{
        <link rel="Stylesheet" href="@Href("~/Content/about_us.css")" />
    }
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>About Us</title>
</head>
<body>

    <header>
        <div class="title">
            <h1>About Us </h1>
            <p style="font-size: larger;">Birds Club is a civil institution founded for adaptation of birds.</p>

        </div>
    </header>
    <h3 style="text-align: center;">Our Team</h3>
    <div class="container"></div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow" style="width: 18rem; margin-left: 8%;">
                <div class="inner">
                    <img class="card-img-top" src="~/Content/images/Dost_Kaya.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Dost Kayaoğlu</h5>
                    <p class="card-text">Founder of the Bird's Club</p>
                    <a href="#" class="btn btn-dark">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 18rem;  margin-left: 8%; ">
                <div class="inner">
                    <img class="card-img-top" src="~/Content/images/bird_feedingman.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Buğra Menteş</h5>
                    <p class="card-text">Funder and honorary Member</p>
                    <a href="#" class="btn btn-dark">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="width: 18rem; margin-left: 8%; ">
                <div class="inner">
                    <img class="card-img-top" src="~/Content/images/vet_man.webp" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Arda Baytar</h5>
                    <p class="card-text">Main Vet Operator</p>
                    <a href="#" class="btn btn-dark">Contact</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>