@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @section styles{
        <link rel="Stylesheet" href="@Href("~/Content/project.css")" />
    }
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <style>
        <style >
        body {
            background-image: url("bird_background2.jpg");
        }

        .iframes {
            text-align: center;
            align-items: center;
        }

        .fa {
            padding: 20px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            margin-left: 265px;
            margin-top: 70px;
            float: left;
        }

            .fa:hover {
                opacity: 0.7;
            }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-google {
            background: #dd4b39;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }

        .fa-reddit {
            background: #ff5700;
            color: white;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
        }
    </style>
    </style>
</head>

<body>
   
    
    <div>
        <h1 style="text-align: center; font-family: fantasy;
        background-color: rgb(0, 46, 46); color:white;" id="titlecontact">
            Contact Us
        </h1>
    </div>
    <div>
        <a target="_blank" href="https://www.facebook.com/Amazing-Loving-Birds-For-Free-Adoption-1835925356685434" class="fa fa-facebook"></a>
    </div>
    <div>
        <a target="_blank" href="https://twitter.com/" class="fa fa-twitter"></a>
    </div>
    <div>
        <a target="_blank" href="https://www.google.com/" class="fa fa-google"></a>
    </div>
    <div>
        <a target="_blank" href="#" class="fa fa-instagram"></a>
    </div>
    <div>
        <a target="_blank" href="#" class="fa fa-reddit"></a>
    </div>
    <div>
        <a target="_blank" href="#" class="fa fa-youtube"></a>
    </div>

    <div class="iframes">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3017.621988974938!2d30.286372314777974!3d40.85822243659519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409dfecdc9b1d249%3A0xefbf25d57599c7b1!2sKorucuk%2C%20Korucuk%20Cd.%20No%3A3329%2C%2054290%20Adapazar%C4%B1%2FSakarya!5e0!3m2!1str!2str!4v1640276575341!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
    <p style="font-size: 25px; margin-left: 200px; text-shadow: -2px -2px 13px rgba(165, 150, 150, 1); font-family: fantasy; text-align: center; margin-right: 15%;" id="maptext">
        Our Location
    </p>
    
</body>
</html>


